<!DOCTYPE html>
<html>
<head>
  <title>Zekom</title>
  <%= stylesheet_link_tag    "zekom/application", :media => "all" %>
  <%= javascript_include_tag "zekom/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
