Spremenjeni Zakon o elektronskih komunikacijah (Uradni list št. 109/2012; v nadaljevanju ZEKom-1), ki je začel veljati v začetku leta 2013, je prinesel nova pravila glede uporabe piškotkov in podobnih tehnologij za shranjevanje informacij ali dostop do informacij, shranjenih na računalniku ali mobilni napravi uporabnika. Nova zakonodaja, ki mora v praksi zaživeti do 15. junija 2013, lastnikom spletnih strani nalaga, da svoje uporabnike obvestijo o piškotkih, ki jih uporabljajo. Mi smo šli še korak dlje. Pomagamo vam razumeti kaj piškotki sploh so, kakšen je njihov namen in kako z njimi upravljati.

<h3>Kaj so piškotki?</h3>
Piškotek je majhna datoteka, običajno vsebuje zaporedje črk in številk, ki se naloži na uporabnikov računalnik, ko ta obišče določeno spletno stran. Ob vsakem ponovnem obisku bo spletna stran pridobila podatek o naloženem piškotku in uporabnika prepoznala. Piškotki so pomembni za delovanje spletnih strani, za to, da je uporabnikova izkušnja boljša. Z njihovo pomočjo je mogoče analizirati pomet na spletni strani, prav tako pa omogočajo napredne oglaševalske tehnike.

<h3>Piškotek običajno vsebuje:</h3>
<ul>
<li>ime strežnika, s katerega je bil poslan piškotek;</li>
<li>življenjsko dobo piškotka;</li>
<li>vrednost – navadno naključno generirano edinstveno število.</li>
</ul>
Sam piškotek ne vsebuje ali zbira informacij. Če pa ga prebere strežnik skupaj s spletnim brskalnikom, je to lahko spletnemu mestu v pomoč pri izvajanju uporabniku prijaznejših storitev – na primer tako, da se spomni prejšnjih nakupov ali podatkov o uporabnikovem računu. Izključno strežnik, ki je poslal piškotek, lahko prebere in uporablja ta piškotek.
<p>
Uporaba piškotov je ustaljen postopek na večini spletnih mest. Standardne nastavitve brskalnika omogočajo uporabo piškotov. V kolikor se z njihovo uporabo ne strinjate, spremenite nastavitve brskalnika tako, da bo sprejemanje piškotov onemogočeno, vendar to lahko omeji zmožnost vaše komunikacije s spletnim mestom. </p>

<p>
Piškotke lahko odklonimo ali izbrišemo z ustreznimi nastavitvami iskalnika. Vendar pa se v tem primeru lahko zgodi, da ne bo več mogoče uporabljati vseh funkcij naše spletne strani. Tudi če piškotke sprejmete, jih lahko kadarkoli izbrišete z orodji vašega brskalnika. Piškote uporabljamo izključno z namenom, da bi spletno mesto optimizirali in prilagoditi vašim željam.
</p>

<h3>Kako upravljati s piškotki?</h3>
Vsi spletni brskalniki v osnovi omogočajo spletnim stranem, da uporabljajo piškotke. Uporabnik pa ima možnost, da spletni brskalnik prilagodi po svojih željah. To pomeni, da lahko upravlja tudi s piškotki ali celo onemogoča njihovo uporabo. Tukaj svetujemo veliko mero previdnosti, saj če trajno onemogočite shranjevanje piškotkov v vašem spletnem brskalniku, večina spletnih strani ne bo delovala pravilno. Praktično nemogoče bo opraviti spletni nakup (spletna stran si ne bo zapomnila katere izdelke ste dodali v košarico), ne bo mogoč vnos življenjepisa na zaposlitven portal MojeDelo.com (spletna stran bo pozabila kaj ste vpisali na posameznem koraku) in tudi na Facebook-u se boste za vsako malenkost morali vedno znova prijaviti.

Kakorkoli, če želite upravljati s piškotki v svojem spletnem brskalniku, smo za vas poiskali navodila za vse najbolj popularne brskalnike. Za ogled kliknite na povezavo ob ustreznem brskalniku
<br />
<br /> Google Chrome: Upravljanje piškotkov in podatkov spletnih mest <a href="https://support.google.com/chrome/answer/95647?hl=sl">Navodila</a>)
<br /> Internet Explorer : Upravljanje piškotkov brskalnika           (<a href="http://support.microsoft.com/gp/cookies/sl">Navodila</a>)
<br /> Mozilla Firefox: Piškotki (<a href="http://support.mozilla.org/sl/products/firefox/cookies">Navodila</a>)
<br /> Opera: Cookie tips (<a href="http://www.opera.com/help/tutorials/security/cookies/">Navodila</a>) (v angleškem jeziku)
<br /> Safari: Safari web settings (<a href="http://support.apple.com/kb/ht1677">Navodila</a>) (v angleškem jeziku)

<h3>Na naši strani uporabljamo sledeče piškotke:</h3>
<%= render partial: 'zekom/zekom/cookie_list'  %>
